<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<!--    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>-->

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d] &lt; %level  &gt;  %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>log/data_provider.log</file>

        <encoder>
            <pattern>[%d] &lt; %level  &gt;  %msg%n</pattern>
        </encoder>
    </appender>

<!--    <logger name="org.springframework.batch" level="ERROR,DEBUG,INFO" />
    <logger name="org.springframework.jdbc" level="ERROR,DEBUG,INFO" />
    <logger name="org.springframework.beans" level="ERROR,DEBUG,INFO" />-->
<!--    <logger name="org.hibernate.param" level="DEBUG,INFO" />
    <logger name="org.hibernate.sql" level="DEBUG,INFO" />
    <logger name="org.hibernate.cfg" level="DEBUG,INFO" />-->
    <logger name="org.springframework.data.neo4j" level="ERROR" />
    <logger name="org.apache.tomcat" level="ERROR" />
    <logger name="org.neo4j" level="ERROR,INFO"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="javax.activation" level="ERROR"/>
    <logger name="org.apache.http" level="ERROR"/>

    <root level="DEBUG">
        <appender-ref ref="file"/>
        <appender-ref ref="console" />
    </root>
</configuration>
